src filter=lfs diff=lfs merge=lfs -text
build_voice_cloning.py filter=lfs diff=lfs merge=lfs -text
install_dependencies.sh filter=lfs diff=lfs merge=lfs -text
main.py filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
build.py filter=lfs diff=lfs merge=lfs -text
src/models/voice_cloning/synthesizer/saved_models/pretrained/pretrained.pt filter=lfs diff=lfs merge=lfs -text
src/uploads filter=lfs diff=lfs merge=lfs -text
src/yolo filter=lfs diff=lfs merge=lfs -text
src/controllers filter=lfs diff=lfs merge=lfs -text
src/models filter=lfs diff=lfs merge=lfs -text
src/services filter=lfs diff=lfs merge=lfs -text
src/static filter=lfs diff=lfs merge=lfs -text
src/templates filter=lfs diff=lfs merge=lfs -text
src/voice_cloning_uploads filter=lfs diff=lfs merge=lfs -text
src/yolo_weights filter=lfs diff=lfs merge=lfs -text
