.responsive-media, .responsive-media-variable-height {
    width: 100%;
    max-width: 720px;
}

.responsive-media-variable-height {
    object-fit: contain;
    max-height: 100vh;
    object-position: 0 0;
}
