.input_heading {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    padding-bottom: 2.5rem;
    justify-content: center;
    align-items: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#upload-area{
    display: flex;
    flex-direction: row;
}

#imageUpload {
    padding: 0;
}

#imageUpload, .drop-zone{
    display: none;
}

.drop-box-faceapi {
    border-color: blue;
    color: blue;
}