body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faceapi-media-container {
    position: relative;
}

.faceapi-media-container > * {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.faceapi-media-container, video {
    width: 100%; 
}