.loading-spinner {
    display: flex;
    align-items: center;
}

.loading-spinner:after, .page-loading-spinner {
    border-radius: 100%;
    border: 1px solid darkgray;
    border-top: 1px solid black;
    animation: spin 1s infinite linear;
}

.loading-spinner:after{
    width: 0.75em;
    height: 0.75em;
    margin-left: 5px;
    content: ' ';
    display: inline-block;
}

.page-loading-spinner{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}