@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Monsterrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0.5rem;
}

h1,
h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
  padding: 0.5rem 0 0 0;
}

.-default-font-size {
  font-size: 1rem;
}

.-text-align-left {
  text-align: left;
}

.main-controls {
  padding: 0.5rem 0;
}

canvas {
  display: block;
  margin-bottom: 0.5rem;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buttons button {
  padding: 0.5rem;
  width: calc(50% - 0.25rem);
  margin: 0.5rem;
}

button {
  font-size: 1rem;
  text-align: center;
  padding: 0.375rem 0.75rem;
  border-radius: 0.1875rem;
  transition: all 0.2s;
}

input {
  padding: 0.375rem 0.75rem;
}

button:hover,
button:focus {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

section,
article {
  display: block;
}

.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

button.delete {
  background: #d11a2a;
  color: #fff;
  border: none;
}

label {
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
}

.clip p {
  cursor: pointer;
}

input + span {
  padding-right: 30px;
}

input:valid+span:after, input:invalid+span:after {
  position: relative;
  padding-left: 5px;
}

input:invalid+span:after {
  color: #f00;
  content: '✖';
}

input:valid+span:after {
  color: green;
  content: '✓';
}

@media all and (min-width: 800px) {
  .wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
}

.-minor-top-margin {
  margin-top: 1rem;
}

.-major-top-margin {
  margin-top: 2rem;
}

.spinner {
  position:absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}