<div class="row" id="about-us">
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/about_us/dr. chen.png" alt="Zesheng Chen" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Dr. Zesheng Chen</h5>
                <p class="card-text">Project Advisor</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/about_us/jimmy.png" alt="Jimmy Nguyen" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Jimmy Nguyen</h5>
                <p class="card-text">Team Member</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/about_us/jacob.png" alt="Jacob Mills" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Jacob Mills</h5>
                <p class="card-text">Team Member</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD" >
            <img class="card-img-top img-fluid" src="../../static/landing_page/about_us/rodney.png" alt="Rodney Mcquain" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Rodney Mcquain</h5>
                <p class="card-text">Team Member</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD" >
            <img class="card-img-top img-fluid" src="../../static/landing_page/about_us/vinamra.png" alt="Vinamra Munot" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Vinamra Munot</h5>
                <p class="card-text">Team Member</p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>