<div class="row" id="applications">
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/applications/object_detection.jpg" alt="Image Object Detection" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Image Object Detection</h5>
                <p class="card-text">Identifying objects in an uploaded image</p>
                <a href="../image_object_detection.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/applications/object_detection.jpg" alt="Video Object Detection" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Video Object Detection</h5>
                <p class="card-text">Identifying objects in an uploaded video</p>
                <a href="../video_object_detection.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <video class="card-img-top img-fluid" src="../../static/landing_page/applications/real_time_object_detection.mp4" alt="Real Time Object Detection" autoplay controls></video>
            <div class="card-body">
                <h5 class="card-title">Real Time Object Detection</h5>
                <p class="card-text">Identifying objects in real time</p>
                <a href="../realtime_object_detection_for_webcam.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/applications/face_api.png" alt="Face Recognition in Image" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Face Recognition Image</h5>
                <p class="card-text">Identifying team members in an uploaded image</p>
                <a href="../face_recognition_for_image.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <video class="card-img-top img-fluid" src="../../static/landing_page/applications/face_api.mp4" alt="Face Recognition in Real Time" autoplay controls></video>
            <div class="card-body">
                <h5 class="card-title">Face Recognition In Real Time</h5>
                <p class="card-text">Identifying people in real time based on uploaded user images</p>
                <a href="../face_recognition_for_user_video.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <video class="card-img-top img-fluid" src="../../static/landing_page/applications/face_api_emotions.mp4" alt="Face Emotions and Landmark Identification" autoplay controls></video>
            <div class="card-body">
                <h5 class="card-title">Face Emotion & Landmark</h5>
                <p class="card-text">Identifying emotions and landmarks of a face in real time</p>
                <a href="../face_emotion_landmark_for_video.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/applications/digitinator.png" alt="Digit-Inator" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Digit-Inator</h5>
                <p class="card-text">Handwritten Number Detection</p>
                <a href="../digitinator.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/applications/upload_image.jpg" alt="Uploading Image" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Upload User Image</h5>
                <p class="card-text">Uploading images for the application of "Face Recognition In Real Time"</p>
                <a href="../user_upload.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <video class="card-img-top img-fluid" src="../../static/landing_page/applications/face_mask_detection.mp4" alt="Face Mask Detection" autoplay controls></video>
            <div class="card-body">
                <h5 class="card-title">Face Mask Detection</h5>
                <p class="card-text">Identifying whether or not people are wearing face masks in a live video stream</p>
                <a href="../face_mask_detection.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card m-3 card-threeD">
            <img class="card-img-top img-fluid" src="../../static/landing_page/applications/digital_cloning.jpg" alt="Voice Cloning" loading="lazy" >
            <div class="card-body">
                <h5 class="card-title">Voice Cloning</h5>
                <p class="card-text">Clone Your Voice</p>
                <a href="../voice_cloning.html" target="_blank" class="btn btn-dark">Try me!</a>
            </div>
        </div>
    </div>
</div>