<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-threeD">
    <a class="navbar-brand" href="/">Deep Learning Sandbox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about-us">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Applications
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" target="_blank" href="image_object_detection.html">Image Object
                        Detection</a>
                    <a class="dropdown-item" target="_blank" href="video_object_detection.html">Video Object
                        Detection</a>
                    <a class="dropdown-item" target="_blank"
                        href="realtime_object_detection_for_webcam.html">Real-time Object
                        Detection</a>
                    <a class="dropdown-item" target="_blank" href="face_recognition_for_image.html">Face Recognition
                        in
                        Image</a>
                    <a class="dropdown-item" target="_blank" href="face_recognition_for_user_video.html">Face Recognition
                        in Real
                        Time</a>
                    <a class="dropdown-item" target="_blank" href="face_emotion_landmark_for_video.html">Face
                        Emotion &
                        Landmark</a>
                    <a class="dropdown-item" target="_blank" href="digitinator.html">Digit-Inator</a>
                    <a class="dropdown-item" target="_blank" href="user_upload.html">Upload Images</a>
                    <a class="dropdown-item" target="_blank" href="face_mask_detection.html">Face Mask Detection</a>
                    <a class="dropdown-item" target="_blank" href="voice_cloning.html">Voice Cloning</a>
                </div>
            </li>

        </ul>
    </div>
</nav>